body {
    background-color: #D3D3D3;
}

@font-face {
    font-family: 'Barlow Condensed';
    src: url(Fonts/BarlowCondensed/BarlowCondensed-Light.ttf);
    font-style: normal;
    font-weight: 100;
    
}
@font-face {
    font-family: 'Orbitron';
    src: url(Fonts/Orbitron/Orbitron-Regular.ttf);
    font-style: normal;
    font-weight: 100;
}

h1, h2, h3, h4, a, p
{
    font-family: 'Barlow Condensed';
   font-weight: 100;
    color: black;
    text-decoration-line: none;
    /*text-align: center;*/
}



p
{
    line-height: 1.8;
   
  
}

h1, h2, h3, h4
{
    line-height: 0.5;
}

img, a, p
{
   
    margin-left: auto;
    margin-right: auto;
  
}

p {
    width: 50%;
}
